.corner-box {
    transition: all 0.3s ease;
    background-color: $green;
    border: 2px solid rgba($color: $secondary, $alpha: 0.5);
    padding: 18px 20px;
    position: relative;
    z-index: 1;

    &.active,
    &:hover {
        border-color: $secondary;
        box-shadow: 0 0px 32px 0 rgba($color: $secondary, $alpha: 0.5);
    }

    &.active,
    &:hover {
        &::before {
            width: 0 !important;
        }

        &::after {
            height: 0 !important;
        }
    }

    &::after {
        height: calc(110% - 3rem);
        width: calc(100% + 4px);
        left: -2px;
        top: 50%;
        transform: translateY(-50%)
    }

    &::before {
        width: calc(102% - 3rem);
        height: calc(100% + 4px);
        top: -2px;
        left: 50%;
        transform: translateX(-50%);
    }

    &::before,
    &::after {
        transition: all 0.3s ease;
        content: "";
        position: absolute;
        background: $green;
        z-index: -1;
    }

    &::after,
    &::before {
        background-color: $green;
    }
}