/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba($color: $primary, $alpha: 0.8);

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $secondary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba($color: $secondary, $alpha: 0.5);
}